@CHARSET "UTF-8";
@import url("quiz.css");

.container-fluid.scrollable {
	background-color: #E9E9E9;
	border: none;
}

.created_by {
	background-color: white;
	padding: 10px;
	margin-bottom: 10px;
}

.quiz_categories {
	margin-top: 10px;
}

.description_div {
	text-align: left;
	display: inline-block;
	vertical-align: top;
	width: 45%;
}

.do_quiz_description {
	font-size: 18px;
	color: black;
	font-family: "Open Sans",sans-serif;
}

.quiz_image_div {
	display: inline-block;
	width: 50%;
	height: inherit;
	vertical-align: top;
}

.quiz_image {
	width: 100%;
	heigth: 100%;
	object-fit: contain;
}

.question_div {
	width: 60%;
	margin-top: 15px;
	color: black;
}

.question_image {
	width:100%;
	height: 100%;
	object-fit: contain;
}

.answer_div {
	width: 100%;
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
}

.answer {
	padding: 10px;
	background-color: white;
}

.answer:not(:first-child) {
	border-top: 1px solid #dadada;
	margin-top: 5px;
}

.answer:hover {
	cursor: pointer;
	background-color: #FC9F3C;
}

.a_hover:hover {
	background-color: #FC9F3C!important;
}

.answer_checkbox {
	margin-top: -5px;
}

.result_div {
	background-color: white;
	padding: 15px 30px 30px 30px;
	height: auto;
	width: 70%;
	color: #222222;
	font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.result_image {
	width: 100%;
	max-height: 500px;
	object-fit: contain;
}

.quiz_title2 {

	font-size: 20px;
}

.result_score, .result_title {
	font-size: 27px;	
}

.result_description {
}

#retake_quiz_button {
	display: none;;
	text-align: center;
	margin-top: 20px;
	height: 40px;
	width: 70%;
}

.retake_quiz_icon {
	margin-top: -5px;
}

#loader_image_div, #loader_image_div2 {
	display: none;
	height: 100px;
	text-align: center;
	width: 100%;
	margin-top: 30px;
}

.loader_image {
	width: 100px;
	height: 100px;
}

#wrap_area_options {
	display: inline-block;
	width: 60%;
	margin-top: 50px;
	margin-bottom: 20px;
	border: 1px solid #999999;
}

#new_post_area {
	display: inline-block;
	width: 100%;
	resize: none;
	outline: none;
	padding: 10px;
	font-size: 16px;
	border-radius: 2px;
	border: none;
}

#post_options {
	display: none;
	width: 100%;
	position: relative;
	height: 40px;
	background-color: #F5F5F5;
	margin-top: -10px;
}

#submit_post {
	float: right;
	margin-right: 10px;
	margin-top: 4px;
	padding: 5px 10px 5px 10px;
	border-radius: 2px;
	cursor: pointer;
}

.not_logged {
 	width: 60%; 
 	display: inline-block;
 	text-align: center;
 	background-color: white;
 	padding: 10px;
 	margin-top: 50px;
}

.morecontent span {
    display: none;
}

.morelink {
    display: inline;
    color: #cb3434;
    font-size: 13px;
    cursor: pointer;
}

.morelink:hover {
	color: #651a1a;
}

#comments {
	width: 100%;
	height: auto;
}

.comment {
	width: 60%;
	padding: 10px;
	background-color: #F5F5F5;
	border-bottom: 1px solid #DEDEDE;
}

.comment .user_image_div {
	vertical-align: top;
	width:40px;
	height:40px; 
	display:inline-block;
} 

.comment .user_image {
	height: 100%; 
	width: 100%; 
	object-fit: cover;
	border-radius: 3px;
}

.comment .user_name {
	display: inline-block;
	vertical-align: top;
	margin-left: 0px;
	font-size: 14px;
	font-weight: bold;
}

.comment .post_settings_div {
	margin-right: 5px;
}

.comment .post_time {
	display: block;
	margin-left: 50px;
	font-size: 14px;
	color: gray;
}

.comment_text {
	display: inline-block;
	vertical-align: top;
	width: 83%;
	margin-left: 5px;
}