@CHARSET "UTF-8";
@import url("home.css");

.quiz_box {
	text-align: left;
	background-color: white;
	width: 70%;
	height: auto;
	min-height: 150px;
	margin-top: 10px;
}

.quiz_box_link {
	height: inherit;
}

.quiz_box_image_div {
	width: 34%;
	height: inherit;
	display: inline-block;
}

.quiz_box_image {
	width:100%;
	height:100%;
	object-fit: cover;
}

.quiz_box_text {
	position: relative;
	display: inline-block;
	width: 65%;
	height: inherit;
	vertical-align: top;
	padding: 5px 10px 5px 15px;
}

.quiz_title {
	font-size: 27px;	
	font-family: "Open Sans", sans-serif;
	color: black;
}

.quiz_description {
	margin-top: 5px;
	font-size: 17px;
	font-family: "klavika", Helvetica, Arial, sans-serif;
	line-height: 18px;
	height: auto;
	margin-bottom: 40px;
}

.quiz_creator {
	color: #6E7177;
	font-size: 13px;
	margin-bottom: 10px;
}

#loader_image_div {
	display: none;
	height: 100px;
	text-align: center;
	width: 100%;
}

.loader_image {
	width: 100px;
	height: 100px;
}

